/* General Styling */
body {
    margin: 0 0 3em 0;
    text-align: center;
    text-rendering: optimizeLegibility;
    font-family: 'Epilogue', sans-serif;
}
#main-content {
    margin: 5em 1em 0 1em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    line-height: normal;
}
h1, .h1 {
    font-size: 4em;
}
h2, .h2 {
    font-size: 3em;
}
h3, .h3 {
    font-size: 2.4em;
}
h4, .h4 {
    font-size: 1.8em;
}
h5, .h5 {
    font-size: 1.3em;
}
h6, .h6 {
    font-size: 1em;
}
p, code, pre, q {
    text-align: left;
}
p {
    line-height: 145%;
    margin: 1em auto;
    text-indent: 2em;
}
p, pre {
    max-width: 750px;
}

/* Code blocks */
code, pre, samp {
    font-family: "Fira Code", "Consolas", monospace;
    background-color: #7c82af;
    color: white;
    padding: 1px 4px;
    line-height: normal;
}
pre {
    margin: auto;
    white-space: pre-wrap;
    background-color: #484b62;
    padding: 0.5em;
}
pre code {
    background-color: unset;
}
code {
    border-radius: 3px;
}


/* Quotes */
blockquote, q, .quote {
    max-width: 600px;
}
blockquote, q {
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
    font-style: oblique;
    margin: auto;
}
blockquote {
    position: relative;
}
blockquote p {
    text-align: justify;
}
blockquote:before {
    content: open-quote;
    position: absolute;
    font-size: 600%;
    left: -0.6em;
    top: -0.25em;
}
blockquote:after {
    content: close-quote;
    position: absolute;
    font-size: 600%;
    right: -0.35em;
    bottom: -0.6em;
    line-height: normal;
}
.quote cite {
    display: block;
    margin-top: 0.5em;
}
cite:before {
    content: "— ";
    margin-right: 0;
    margin-left: auto;
}
.quote {
    margin: 2em auto;
    text-align: right;
    width: fit-content;
}

/* Basic top navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(15, 18, 48, 0.76);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
nav li {
    float: left;
    color: white;
    height: 100%;
    margin: auto;
    vertical-align: middle;
    height: 3em;
    line-height: 3em;
    flex: 1;
}
nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 3px;
    /* Puts text and images in the same link inline with each other */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav .active {
    background-color: rgba(150, 158, 214, 0.66);
}
nav li:hover:not(.active) {
    background-color: rgba(112, 118, 161, 0.66);
}
nav svg {
    margin: 0 0.5em;
    position: relative;
    top: -3px;
}

/* Utility classes */
.noindent {
    text-indent: 0;
}
.noselect {
    user-select: none;
    -webkit-user-select: none;
}
.rounded {
    border-radius: 6px;
}
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.watermark {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: small;
    padding: 8px 10px 2px;
    border-radius: 6px 0 0 0;
    background-color: black;
    color: white;
    opacity: 0.5;
}

/* Shadow settings based on Bootstrap 5 */
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}