/* General Styling */
body {
    text-align: center;
    text-rendering: optimizeLegibility;
    font-family: 'Oxygen', sans-serif;
    line-height: normal;
    background:#252526;
}
main {
    margin: 5em auto 2.5em;
    padding: 1.5em;
    max-width: 750px;
    background: white;
    border-radius: 13px;
    color: #222;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1rem auto;
    font-family: 'Playfair Display', serif;
}
h1, .h1 {
    font-size: 4rem;
}
h2, .h2 {
    font-size: 3rem;
}
h3, .h3 {
    font-size: 2.4rem;
}
h4, .h4 {
    font-size: 1.8rem;
}
h5, .h5 {
    font-size: 1.3rem;
}
h6, .h6 {
    font-size: 1rem;
}
p, code, pre, q {
    text-align: left;
}
p {
    line-height: 150%;
    margin: 1em auto;
    text-indent: 2em;
}

/* Code blocks */
code, pre, samp {
    margin: auto;
    font-family: 'JetBrains Mono', monospace;
}
code {
    color: #444;
    background: #f3f3f3;
    padding: 0 4px;
    border-radius: 4px;
}
pre .hljs {
    border-radius: 4px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}


/* Quotes */
blockquote, q, .quote {
    max-width: 620px;
}
blockquote, q {
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    font-style: oblique;
    margin: auto;
}
blockquote {
    position: relative;
    margin: 0 2em;
}
blockquote p {
    text-align: justify;
}
blockquote:before {
    content: open-quote;
    position: absolute;
    font-size: 600%;
    left: -0.6em;
    top: -0.25em;
}
blockquote:after {
    content: close-quote;
    position: absolute;
    font-size: 600%;
    right: -0.35em;
    bottom: -0.6em;
}
.quote cite {
    display: block;
    margin: 0.5em;
    font-size: 1em;
    /* opacity: 80%; */
}
.blockquote {
    position: relative;
    right: 2em;
    bottom: 0.9em;
}
cite:before {
    content: "— ";
    margin-right: 0;
    margin-left: auto;
    /* opacity: 80%; */
}
.quote {
    margin: 2em auto;
    text-align: right;
    width: fit-content;
}

/* Basic top navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: #484b62;
    z-index: 1;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
nav li {
    float: left;
    color: white;
    height: 100%;
    margin: auto;
    vertical-align: middle;
    height: 3em;
    line-height: 3em;
    flex: 1;
}
nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 3px;
    /* Puts text and images in the same link inline with each other */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
nav .active {
    background: #7c82af;
}
nav li:hover:not(.active) {
    background: #63688c;
}
nav svg {
    margin: 0 0.5rem;
    position: relative;
    top: -3px;
}
.nav-spacer {
    background: #252526;
    height: 0.6rem;
}

/* Utility classes */
.noindent {
    text-indent: 0;
}
.noselect {
    user-select: none;
    -webkit-user-select: none;
}
.rounded {
    border-radius: 6px;
}
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.watermark {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: small;
    padding: 8px 10px 2px;
    border-radius: 6px 0 0 0;
    background: black;
    color: white;
    opacity: 0.5;
}

/* Shadow settings based on Bootstrap 5 */
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}